@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
}

body {
  background: url("../img/pattern-curve.svg");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.img {
  display: block;
  margin: 0 auto;
  max-width: 540px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.container {
  max-width: 1440px;
  padding: 2.4rem 2.4rem 0 2.4rem;
  margin: 0 auto;
}

.slide {
  display: flex;
  flex-direction: column-reverse;
}

.slide-img {
  padding: 3rem 3.55rem 2.45rem 3.7rem;
  background: url("../img/pattern-bg.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.buttons {
  position: absolute;
  bottom: 0.6rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 2rem;
  width: 8rem;
  height: 4rem;
  box-shadow: 0px 6px 4px rgba(133, 133, 172, 0.25);
}

.second-slide {
  display: none;
}

.slide-content {
  background: url("../img/pattern-quotes.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 80px;
  padding-top: 2.5rem;
  margin-top: 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide-content p {
  font-size: calc(18px + (32 - 18) * ((100vw - 375px) / (1440 - 375)));
  line-height: 24px;
  text-align: center;
  color: #202047;
  font-weight: 300;
}

.slide-content h3 {
  text-align: center;
  margin-top: 1.9rem;
  font-size: 1.5rem;
  line-height: 20px;
}

.slide-content span {
  display: block;
  font-weight: 500;
  color: #b9b9ce;
}

@media (min-width: 768px) {
  body {
    background-size: 610px 150px;
    background-position: left bottom;
  }

  .slide {
    flex-direction: row;
    justify-content: flex-start;
  }

  .container {
    padding: 5rem 7.3rem 9.3rem 15.9rem;
  }

  .slide-content {
    z-index: 2;
    align-self: center;
    align-items: flex-start;
  }

  .slide-content p {
    line-height: 44px;
    text-align: start;
    max-width: 635px;
    margin-right: -12rem;
  }

  .slide-content h3 {
    font-size: 2rem;
    line-height: 38px;
  }

  .slide-content span {
    display: inline;
  }

  .slide-img {
    padding: 6.3rem 9.2rem 5.4rem 6.5rem;
  }

  .buttons {
    bottom: 3.2rem;
    left: 25%;
  }
}
